@page "/"
@inherits ViewModelComponentBase<Assets>

@inject AssetViewModel _viewModel

<h1>Hello</h1>

<div id="input-container">
    <label for="project-asset-input">Project Asset json file</label>
    <textarea id="project-asset-input" rows="5" @bind="_viewModel.AssetJsonText"></textarea>
    <InputFile OnChange="@_viewModel.LoadFilesAsync" accept=".assets.json" />
</div>

@if (_viewModel.ValidTargets.Count() > 0)
{
    <div id="target-picker">
        <label for="target-picker">Choose target</label>
        <select id='target-picker' name='target-picker' @bind='_viewModel.SelectedTarget'>
            @foreach (string target in _viewModel.ValidTargets)
            {
                <option value='@target'>@target</option>
            }
        </select>
        <div>@_viewModel.SelectedTarget</div>
    </div>
}

@if (_viewModel.PackageList.Count() > 0)
{
    <div id="target-package-list">
        <label for="package-picker">Pick an interesting package:</label>
        <select id='package-picker' name='package-picker' @bind='_viewModel.SelectedPackage'>
            <option value=''>All</option>
            @foreach (string package in _viewModel.PackageList)
            {
                <option value='@package'>@package</option>
            }
        </select>
        <div>@_viewModel.SelectedPackage</div>
    </div>
}

@if (!string.IsNullOrEmpty(_viewModel.SelectedPackage))
{
    <div id="analysis-direction-picker">
        <label for='direction-picker'>Pick analysis direction</label>
        <select id='direction-picker' name='direction-picker' @bind='_viewModel.AnalysisDirection'>
            <option value='Up'>Up</option>
            <option value='Down'>Down</option>
        </select>
        <div>@_viewModel.AnalysisDirection</div>
    </div>
}

<div id='level'>
    <label for='resursiveLevel'>Search level:</label>
    <input id='resursiveLevel' type='number' @bind='_viewModel.SearchLevel'/>
</div>

<button @onclick="_viewModel.LoadChart">Load Chart</button>

<div id="svgHolder"></div>
